[package]
name = "jolimail"
version = "0.1.0"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-http = "1.0"
actix-web = "2.0"
actix-rt = "1.0"
deadpool-postgres = "0.5"
env_logger = "0.7"
log = "0.4"
regex = "1"
serde = { features = ["derive"], version = "1.0" }
serde_json = { version = "1.0" }
tokio = { version = "0.2", features = ["full"] }
tokio-postgres = { version = "0.5", features = ["with-chrono-0_4", "with-serde_json-1", "with-uuid-0_8"] }
uuid = { version = "0.8", features = ["serde"] }

[dev-dependencies]
serial_test = "0.4"
